<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingzi.myapplication">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gesture.GestureActivity"
            android:label="@string/title_activity_gesture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gesture.AddGestureActivity"
            android:label="@string/title_activity_add_gesture"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.MyServive">
            <intent-filter>
                <action android:name="com.mingzi.myapplication.service.Myservice" />
            </intent-filter>
        </service>
        <service android:name=".aidl.MyAidlService">
            <intent-filter>
                <action android:name="com.mingzi.MyAidlService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <activity
            android:name=".broadcast.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".broadcast.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
